@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bleu-principal: #1E5E89;
    --bleu-principal-filter: #1e5e895e;
    --beige: #C7A37A;
    --maron: #4A3B2F;
    --gris: #F2F2F2;
    --flter: #4a3b2f61;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--gris);
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: var(--gris) 5px solid;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(17, 129, 190);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

span {
    color: var(--maron);
}

.barreTache {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logouser {
    margin: 1px;
    background-color: #1E5E89;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

header .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.8rem;
    height: 40px;
    background-color: var(--bleu-principal-filter);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .username {
    color: var(--bleu-principal);
    font-weight: bold;
}

.logo:hover {
    box-shadow: 0 0 0 var(--bleu-principal);
}

header .profile:hover {
    cursor: pointer;
    box-shadow: 0 0 4px 0px var(--bleu-principal);
}

.infouser {
    color: var(--maron);
}

body {
    background-color: #F2F2F2;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.02);
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #828894;
    padding: 5px;
    box-shadow: inset 2 2 100px rgba(0, 0, 0, 0.02);
}

a:hover {
    transform: translateY(-5px);
    color: #0F77DA;
    font-size: 17px;
}

.btn1,
.btn2 {
    font-weight: bolder;
    border: none;
    padding-right: 5PX;
    padding-left: 5PX;
}

.btn1:active {
    background-color: #80A4D4;
    color: black;
}

.btn2:active {
    background-color: #80A4D4;
    color: black;
}

.btn1 {
    background: #E5EFFB;
    color: #80A4D4;
    padding: 5px;
    width: 65px;
    border-radius: 5px;
}

.btn2 {
    background: #0F77DA;
    color: #D2FFFF;
    padding: 5px;
    border-radius: 5PX;
}

li {
    padding: 5px;
}

.logo {
    border: none;
    font-size: 30px;
    padding-right: 40px;
    color: #0F77DA;
}

.navbar {
    border: 1px soli black;
    padding: 5px;
    border-color: black;
}

.top {
    padding-top: 5px;
}

.entete {
    background-color: #1e5e89;
    color: #FFFDFF;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pt2 {
    font-size: small;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/*pour le formulaire*/
form {
    transition: 0.5s;
}

form:hover {
    display: flex;
    justify-content: center;
    transform: translateY(-5px);
}

.containeur {
    display: flex;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.486);
    text-align: left;
    padding: 50px;
    width: 400px;
    border-radius: 12px;
    justify-items: center;
    margin: 10px;
    margin-top: 10px;
    display: grid;
    justify-items: left;
    background-color: #ffffff;
    justify-content: center;
}

.input {
    padding: 10px;
    width: 300px;
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: inset 0 0 200xp rgba(0, 0, 0, 0.02);
}

.input:active {
    background-color: rgb(228, 236, 233);
    transform: translateY(-5px);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.02);
}

.btp {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
    font-size: 17px;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid;
    justify-items: center;
    display: flex;
    align-items: center;
    border: none;
    background-color: #80A4D4;
    text-align: center;
    justify-self: center;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.02);
}

.btp:active,
hover {
    background-color: #1e5e89;
    color: #E5EFFB;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.377);
    border: none;
}

option {
    border-radius: 10px;
}

h2 {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    font-size: 30px;
}

textarea {
    resize: none;
    height: 80px;
}

span {
    color: black;
}

section {
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: #F2F2F2;
    gap: 2%;
}

.phone {
    border: none;
    padding: 2px;
    display: flex;
    max-width: 80px;
    justify-content: center;
    align-items: center;
    background-color: #0780D9;
    border-radius: 20px;
    max-height: 70px;
}

.adresse {
    border: none;
    padding: 2px;
    display: flex;
    max-width: 80px;
    justify-content: center;
    align-items: center;
    background-color: #0780D9;
    border-radius: 20px;
    max-height: 70px;
    transition: 0.5s;
}

.form {
    display: flex;
    justify-content: center;
}

.email {
    border: none;
    padding: 2px;
    display: flex;
    max-width: 80px;
    justify-content: center;
    align-items: center;
    background-color: #0780D9;
    border-radius: 20px;
    max-height: 70px;
}

.bt1:hover {
    transform: translateY(-5px);
}

.bt2:hover {
    transform: translateY(-5px);
}

.bt3:hover {
    transform: translateY(-5px);
}

.bt1 {
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.486);
    border-radius: 12px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 300px;
    display: block;
    text-align: center;
    min-height: 150px;
    transition: 0.5s;

    .adresse {
        display: flex;
        justify-self: center;
    }
}

.bt2 {
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.486);
    border-radius: 12px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 300px;
    display: block;
    text-align: center;
    min-height: 150px;
    transition: 0.5s;

    .phone {
        display: flex;
        justify-self: center;
    }
}

.bt3 {
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.486);
    border-radius: 12px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 300px;
    display: block;
    text-align: center;
    min-height: 150px;
    transition: 0.5s;

    .email {
        display: flex;
        justify-self: center;
    }
}

@media (max-width:700px) {
    .boite {
        flex-wrap: wrap;
        gap: 1rem;
    }
}