@media (max-width:1119px) {

    main {
        min-height: 90vh;
    }

    .container {
        flex-wrap: wrap-reverse;
    }

    .card {
        flex-grow: 1;
    }
}

@media (max-width:790px) {

    main {
        min-height: 125vh;
    }
}

@media (max-width:750px) {
    main {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
}
}