@media (max-width: 1194px) {

    #app {
        width: 100%;
        min-height:190vh;
        flex-direction: column;
    }

    .screen {
        padding: 80px 60px;
    }

    .form-wrapper {
        max-width: 500px;
    }

    .explain h2 {
        font-size: 26px;
    }

    .explain p {
        font-size: 14px;
    }
}

@media (max-width: 567px){
    
    .form-wrapper {
        max-width: 100%;
        padding: 0 20px;
    }

     .explain h2 {
        font-size: 20px;
    }

    .explain p {
        font-size: 10px;
    }
}

@media (max-width: 485px){
    .screen {
        padding: 40px 20px;
    }

     .explain h2 {
        font-size: 18px;
    }

    .explain p {
        font-size: 9px;
    }
}

@media (max-width: 412px){
    #app {
        min-height: 217vh;
    }
}

@media (max-width: 396px){
    .level-selection {
        flex-direction: column;
        gap: 10px;
    }
}